<div class="container" id="container">
  <div class="page tabbar js_show">
    <div class="weui-tab">
      <div id="container_div_id" class="weui-tab__panel">
        <router-outlet></router-outlet>
      </div>
      <app-tabbar></app-tabbar>
    </div>
  </div>
</div>
<!--<weui-dialog #sendMsg></weui-dialog>-->

<div id="container-floating">
  <div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create" (click)="toggleAudio()">
    <p class="plus" [ngStyle]="{'line-height': isPlaying ? '56px' : '58px',
        'left': isPlaying ? '1px' : '5px'}">
      <i class="{{ isPlaying ? 'fa fa-pause' : 'fa fa-play' }}"></i></p>
  </div>
</div>
<p>dashboard component works</p>
